table {
  width: 100%;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header {
  color: #fff;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
  border: 1px solid #76ff03;
  border-bottom: none;
}

table {
  border-top: none;
  border: 1px solid #76ff03;
}
